
body{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerComponent{
    display: flex;       
    justify-content: space-between;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.5);
    background-color: white;

    position: sticky;
    top: 0;

    z-index: 1000;

}

.Title > img{
    width: 55px;
    height: 55px;
    margin: 5px;
}

.Title{
    display: flex;
    width: 30%;    
}

.NavBar{
    margin: 5px;    
}
.NavBar > ul{
    list-style-type: none;
    display: flex;    
}

.NavBar > ul > li{
    margin: 5px 10px 5px 10px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;    
        
}

.NavBar > ul > li > svg{
    padding: 0px 5px 0px 0px;
}

.Search{
    color: orange;
}

.RestaurantCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75%; 
    margin-left: auto;   
    margin-right: auto;
}

.Card{
    width: 250px;
    height: 272px;
    display: flex;
    flex-direction: column;
    margin: 10px;

    position: relative;

    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 8px 0.25px rgba(0, 0, 0, 0.2);
}

.CardImg{
    width: 95%;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.CardImg > img{
    width: 100%;
    height: 100%;
}

.CardTitle{
    width: 95%;    
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}



.Cuisines {
    font-size: 12px;
    color: lightslategray;
}

.Name{
    font-weight: bold;
    font-size: 16px;
    color: black;
}


.CardDetails{
    width: 95%;    
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ribbon {
    position: absolute;
    top: 15px;
    padding: 3px 15px;    
    display: flex;
    justify-content: center;
    box-shadow: -1px 2px 3px rgba(0,0,0,.3);
  }

  .ribbon >svg {
    color: gold;
  }

  .ribbon:before, .ribbon4:after {
    content: "";
    position: absolute;
  }
  .ribbon:before {
    width: 7px;
    height: 100%;
    top: 0;
    left: -6.5px;
    padding: 0 0 7px;
    background: inherit;
    border-radius: 5px 0 0 5px;
  }
  .ribbon:after {
    width: 5px;
    height: 5px;
    bottom: -5px;
    left: -4.5px;
    background: rgb(82, 86, 87);
    border-radius: 5px 0 0 5px;
   }

   input{
    height: 25px;
    width: 500px;
    appearance: none;
    border: 0px inset rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    outline: none;
}

.SearchBar{
    width: 100%;
    position: sticky;    
    top: 0;
    z-index: 1001;
    display: flex;
    justify-content: center;
}

.SearchClass{
    margin: 19px;
    border: 2px solid orange;
    border-radius: 50px;
    background-color: white;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.SearchClass > svg{
    color: orange;
}